IOLITE_ClientExample/Service References/LEIServiceReference/CorpDB_WS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:lei="http://www.gleif.org/data/schema/leidata/2016" elementFormDefault="qualified" targetNamespace="http://www.gleif.org/data/schema/leidata/2016" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://gw.nsd.ru/IOLITE/ClientProxyService/CorpDB_WS?SCHEMA%2FClientProxyService%2Fxml" namespace="http://www.w3.org/XML/1998/namespace" />
  <xs:include schemaLocation="https://gw.nsd.ru/IOLITE/ClientProxyService/CorpDB_WS?SCHEMA%2FClientProxyService%2F2017_03_21_LEI_CDF_2_0_XML_Schema_V2.1" />
  <xs:element name="getLeiCodeInfoRequest" type="lei:GetLeiCodeInfoRequest">
    <xs:annotation>
      <xs:documentation>Запрос информации по кодам LEI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetLeiCodeInfoRequest">
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" name="lei" type="xs:string">
          <xs:annotation>
            <xs:documentation>Код LEI</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cmp_name" type="xs:string">
          <xs:annotation>
            <xs:documentation>Наименование организации</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reg_num" type="xs:string">
          <xs:annotation>
            <xs:documentation>Регистрационный номер (ОГРН)</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getLeiCodeInfoResponse" type="lei:GetLeiCodeInfoResponse">
    <xs:annotation>
      <xs:documentation>Ответ с информацией по кодам LEI</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GetLeiCodeInfoResponse">
    <xs:sequence>
      <xs:element name="LEIData" type="lei:LEIData" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>